*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img,input{
    width: 100%;
    vertical-align: bottom;
}
body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}
#player{
    margin: 1rem;
}
@media screen and (min-width:576px) {
    body{
        max-height: 100vh;
        overflow: hidden;
    }
    #container{
        display: flex;
    }
}